<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <h6><%= post.created_at.strftime('%b %d, %Y') %> - <%= post.author %></h6>
      <p class="text-justify">
        <%= raw(post.body).truncate(358) %>
      </p>
      <div class="btn-group">
        <%= link_to "Read more", post_path(post), :class => "btn btn-primary" %>
      </div>
      <div class="btn-group">
        <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-primary" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Post', new_post_path %>
